.header {
    width: 100%;
    height: 100vh;
    background: var(--fondo);

}

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.abouttxt{
    margin: 0 auto;
    font-family: monospace;
    margin-top: 6rem;
}

.tt1 {
    font-size: 4rem;
    font-family: monospace;
    font-weight: 300;
    color: var(--color-primary);
}
.btn-outline-light{
    width: 100%;
    margin-top: 3rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.btn-outline-light:hover{
    background: transparent;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}


/*========================================*/

.me {
    margin: 0 auto;
    width: 60%;
    height: 70vh;
    overflow: hidden;
    transition: var(--transition);
    border-radius: 14rem 14rem 1rem 14rem;
    transform: skew(-3deg, 2deg);
    cursor: pointer;
}

.me:hover {
    transition: var(--transition);
    transform: scale(1) translate(-5%, -8%);
}

@media screen and (max-width: 600px) {
    .me {
        height: 28vh;
        transform: skew(-3deg, 2deg) translate(0%, 30%);
    }
    .me:hover {
        transition: var(--transition);
        transform: scale(1) translate(-5%, 10%);
    }

    .abouttxt{
        margin-top: 3rem;
    }
    
    .tt1 {
        margin-left: 1rem;
        font-size: 2rem;
        font-weight: 100;
    }
    .btn-outline-light{
        width: 90%;
    }
    .header {
        height: 100vh;
    
    }
  }

