.header {
    width: 100%;
    height: 100vh;
    background: var(--fondo);
    /* background-image: url('/public/books.jpg'); */

}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.abouttxt {
    margin: 0 auto;
    font-family: monospace;
    margin-top: 4rem;
}

.tt1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: var(--color-primary);
}

.tt2 {
    font-size: 4.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: var(--color-primary);
}

.btn-outline-light {
    width: 40%;
    margin-top: 3rem;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.btn-outline-light:hover {
    background: transparent;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 700px) {
    .abouttxt {
        margin: 4rem;
        font-family: monospace;
    }
    .tt1 {
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        color: var(--color-primary);
    }
    
    .tt2 {
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        color: var(--color-primary);
    }
    .btn-outline-light {
        width: 60%;
        margin-top: 3rem;
        border-radius: 8px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    }
}






/*========================================*/



.swiper {
    width: 100%;
    height: 80vh;
}

.swiper-slide {


    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    color: aliceblue;

}


/*========================================*/

.me {
    background: rgba(8, 8, 8, 0.897);
    height: 80vh;
    width: 100%;
    color: var(--color-primary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
}

.yo {
    width: 100%;
    margin-top: 2rem;
    margin-left: 2rem;
}

.mine {
    width: 350px;
    height: 400px;
    border-radius: 100px 100px 100px 10px;
    cursor: pointer;
}

.text-me {
    text-align: justify;
    margin-top: 4rem;
    margin-right: 6rem;
}

.contenedor-blog {
    width: 100%;
    height: 600px;
    background: var(--fondo2);
    color: var(--color-primary);
    text-align: center;

}
.pblog{
    font-size: 1.2rem;
    margin-top: 6rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

@media screen and (max-width: 700px) {
    .me {
        background: rgba(8, 8, 8, 0.897);
        height: 110vh;
        width: 100%;
        color: var(--color-primary);
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .yo {
        width: 100%;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    
    .mine {
        width: 250px;
        height: 300px;
        border-radius: 100px 100px 100px 10px;
        cursor: pointer;
    }
    .text-me {
        text-align: center;
        margin-top: 2rem;
        margin-right: 0rem;
        padding: 1rem;
    }
    
    .contenedor-blog {
        width: 100%;
        height: 700px;
        background: var(--fondo2);
        color: var(--color-primary);
        text-align: center;
    
    }
    .pblog{
        font-size: 0.2;
        padding-left: 3rem;
        padding-right: 3rem;
        width: 100%;
    }
}
/* //------------------------------------------------------ */

.client-count {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4rem;
    margin-right: 4rem;
}
.title-client{
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.img-client{
    font-size: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: black;
}
.text-client{
    font-size: .8rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.text-client2{
    font-size: 1.2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.contact-me{
    width: 300px;
    margin: 4rem;
    padding: 1rem;
}

@media screen and (max-width: 700px) {
    .client-count {
        display: grid;
        grid-template-columns: repeat(2);
        padding: 1rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .title-client{
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .text-client{
        font-size: .8rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .text-client2{
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .img-client{
        font-size: 5rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        color: black;
    }
    .contact-me{
        width: 200px;
        margin: 2rem;
        padding: 1rem;
    }
}

