:root
{
    --color-primary: #ffffff;
    --color-primary-vaiant: #1A1921;
    --color-secundary : #41495C;
    --color-three : #EDFAFF;
    --fondo1: linear-gradient(to bottom, #8b8b8b, #7a7a7d, #69696f, #585962, #474a55, #3c404b, #323641, #282c38, #222530, #1d1e27, #171720, #111018);
    --fondo:   linear-gradient(to right bottom, #c5cada, #b4b6c3, #a3a3ad, #919097, #7f7e82, #6e6d70, #5d5d5e, #4d4d4d, #3a3a3a, #292929, #181818, #000000);
    --fondo2: linear-gradient(to right bottom, #242834, #222733, #212531, #1f2430, #1e232f, #1c212d, #191e2c, #171c2a, #131927, #101524, #0c1221, #070d1e);
    --letter2: #030316da ;
  
}


/*================ about =========================*/
.title{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-family: monospace;
    font-weight: 300;
    text-align: center;
}
.secondtitle{
    margin-top: 3rem;
    font-size: 3rem;
    font-family: monospace;
    font-weight: 300;
    text-align: center;
}
.about{
    background: rgba(160, 160, 160, 0.103);
    width: 100%;
    color: rgba(36, 36, 36, 0.712);
    overflow: hidden;
}
.about1{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.about2{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
}
.about3{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.services{
    background:  rgba(160, 160, 160, 0.116);
    border-radius: 20px;
    height: 80px;
}
.services:hover{
    background:  rgba(160, 160, 160, 0.171);
    border-radius: 20px;
    cursor: pointer;
    
}
.skills{
    margin: 2rem;
    display: grid;
    grid-template-rows: max-content;
    width: 200px;
    height: 300px;
}
.sobre1{
    font-size: 1.4rem;
    font-family: monospace;
}
.sobre2{
    font-size: 1.5rem;
} 

@media screen and (max-width: 600px) {
    .about2{
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .secondtitle{
        margin-top: 3rem;
        font-size: 2rem;
        font-family: monospace;
        font-weight: 300;
        text-align: center;
    }
    .about1{
        margin: 0rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pchica{
        padding: 2rem;
    }
}
